# Here you should add your application entry-point (app.__init__:create_app).
# Not needed app.py entrypoint is by default
FLASK_APP=app.py
# Here you should add the enviroment (production or development)
FLASK_ENV=development
# Here you can enable the debug-mode, normaly used when the application is in development mode.
FLASK_DEBUG=True
# Here you add the host you want to run your application.
FLASK_RUN_HOST=127.0.0.1
# Here you add the port you want to run your application.
FLASK_RUN_PORT=5000
# Here you can add a string used for criptography (normaly a jwt token)
SECRET_KEY=
SECRET_KEY_AES=
# Here indicates database configurations
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# Warning : this is the name of the database service in docker-compose.yml
POSTGRES_HOSTNAME=db
POSTGRES_PORT=5432
# Here you can add the database URI that should be used for the connection
#SQLALCHEMY_DATABASE_URI=sqlite:///services/database.db
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://postgres:postgres@db:5432/db_dev